<div class="navbar shadow-sm sticky top-0 z-10 bg-base-100">
  <div class="max-w-7xl mx-auto w-full">
    <div class="navbar-start">
      <a class="text-4xl font-extrabold">
        <span >Book</span>
        <span class="text-yellow-500 italic">Hub</span>
      </a>
    </div>
    <div class="navbar-center">

    </div>
    <div class="navbar-end gap-2">

      <button class="btn btn-warning rounded-4xl font-bold text-black py-6 px-8" (click)="openModal()">Add Books</button>
    </div>
  </div>
</div>
<!-- Open the modal using ID.showModal() method -->

<dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <div class="flex justify-between">
      <h3 class="text-lg font-bold">Hello!</h3>

      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
    <p class="py-4">Press ESC key or click the button below to close</p>

    <app-book-form/>

  </div>
</dialog>
