
  <div class="hero min-h-[75vh] bg-base-200">
    <div class="hero-content text-center">
      <div class="w-full mx-auto">
        <h1 class="text-5xl font-bold">Welcome to Book Hub</h1>
        <p class="text-3xl text-gray-600 py-5">Discover, organize, and share your book collection with ease.</p>

        <p class="py-6 text-4xl font-bold">
          In Book Hub you can
          <span class="inline-block ">
            <om-typewriter
              [words]="words"
              [disableLoop]="false"
              [writeSpeed]="100"
              [deleteDelay]="1200"
              [writeDelay]="500"
              styleClass="text-yellow-500"
            ></om-typewriter>
          </span>
        </p>

      </div>

    </div>

  </div>

