
  <div class="hero min-h-[75vh] bg-gradient-to-b from-white via-yellow-100 to-yellow-50">
    <div class="hero-content text-center">
      <div class="w-full mx-auto">
        <h1 class="text-5xl font-bold ">Welcome to Book Hub</h1>
        <p class="text-3xl py-5">Discover, organize, and share your book collection with ease.</p>

        <p class="py-6 text-4xl font-bold ">
          In Book Hub you can
          <span class="inline-block ">
            <om-typewriter
              [words]="words"
              [disableLoop]="false"
              [writeSpeed]="100"
              [deleteDelay]="1200"
              [writeDelay]="500"
              styleClass="text-yellow-500"
            ></om-typewriter>
          </span>
        </p>
        <button
        class="btn btn-warning text-lg font-bold px-8 py-3 mt-4 shadow-lg rounded text-black"
      >
        Get Started
      </button>

      </div>

    </div>

  </div>

